.item-card {
    justify-content: center;
    margin: 5px;
    padding: 5px 10px;
    min-width: 150px;
    max-width: 400px;
    text-align: center;
}

.item-title {
    padding: 5px;
    font-size: 2em;
}

.item-button {
    min-width: 75px;
    color: white;
    background-color: var(--primary);
}

.item-button:hover {
    background-color: var(--p-light);
}

.clicker {
    font-size: 1.25em;
}

.MuiCardActions-root {
    justify-content: center;
}