:root {
  --primary: #105dd8;
  --p-light: #6389ff;
  --p-light-dark: #345aac;
  --p-dark: #0035a5;
  --secondary: #262aaa;
  --s-light: #6454dd;
  --s-dark: #00047a;
}
html { height: 100%}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
